body {
  background-image: url(bg.png);
  font-family: "Lato", sans-serif;
  color: #444;
  background-color: rgb(243, 242, 242);
}
.header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  margin: -10px auto auto;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  box-sizing:border-box;
}

.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: middle;
}
.header__logo-image {
  height: auto;
  margin-right: 5px;
}
.header__logo-name {
  font-size: 28px;
}

.header__menu-btn {
  display: none;
}

.header__menu-btn:checked ~ .header__menu {
  max-height: 500px;
}
.header__menu-btn:checked ~ .header__menu-icon {
  background: transparent;
}

.header__menu-btn:checked ~ .header__menu-icon:before {
  top: 0;
  transform: rotate(-45deg);
}
.header__menu-btn:checked ~ .header__menu-icon:after {
  top: 0;
  transform: rotate(45deg);
}

.header__menu {
  font-size: 14px;
  text-align: center;
  list-style: none;
  overflow: hidden;
  clear: none;
  max-height: none;
}

.header__menu-item {
  display: inline;
  margin-right: 40px;
}

.header__menu-link {
  color: #444;
  text-decoration: none;
}
.header__menu-link:hover,
.header__menu-link:active {
  color: #56bc94;
}

@media screen and (max-width: 850px) {
  .header {
    flex-direction: column;
  }
  .header__logo {
    align-self: flex-start;
  }
  .header__menu-item {
    display: block;
    padding: 20px 0px;
  }

  .header__menu {
    clear: both;
    max-height: 0;
    transition: 0.2s ease-out;
    text-align: left;
    align-self: flex-start;
  }

  .header__menu-label {
    align-self: flex-end;
    position: relative;
    margin-top: -20px;
  }

  .header__menu-icon {
    background: #444;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
  }

  .header__menu-icon:before,
  .header__menu-icon:after {
    background: #444;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: all 0.2s ease-out;
  }

  .header__menu-icon:before {
    top: 5px;
  }

  .header__menu-icon:after {
    top: -5px;
  }
}
/*--------------------Cards------------------*/

.cards-container {
  position: relative;
  margin-top: 96px;
  box-sizing: border-box;
}
.cards-container__title {
  display: block;
  margin: 50px auto;
  position: relative;
  width: 100%;
  font-size: 32px;
  text-align: center;
}

.cards {
  position: relative;
  margin-top: 70px;
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  position: relative;
  border-radius: 5px;
  background-color: white;
  margin: 15px 15px;
  vertical-align: middle;
}

.card__title {
  color: #225742;
  background-color: #c4e7d9;
  padding: 30px 90px 70px 90px;
  font-size: 18px;
  margin-top: 0px;
  box-sizing: border-box;
  position: relative;
  display: block;
}

.card--center {
  padding-bottom: 20px;
}

.card__title--center {
  padding-top: 50px;
}
.card__price-circle {
  height: 115px;
  width: 115px;
  color: white;
  background-color: #56bc94;
  border-radius: 50%;
  border: 4px solid #9fd9c2;
  text-align: center;
  margin: -80px auto 0;
  position: relative;
  /*top:-80px;*/
  display: inline-block;
}
.card__dollar {
  display: inline-block;
  margin-top: 40px;
}
.card__price {
  font-size: 28px;
  position: relative;
  vertical-align: middle;
}

.card__content {
  padding: 20px;
  vertical-align: middle;
  max-width: 100%;
}

.fa-times,
.fa-check {
  margin-right: 5px;
  font-family: "FontAwesome";
  color: #56bc94;
}
.fa-times {
  content: "\f00d";
}
.fa-check {
  content: "\f00c";
}

.text-enabled,
.text-disabled {
  border-bottom: 1px solid #efefef;
  padding: 15px;
  margin: 0 30px;
  color: #444;
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
.text-disabled,
.fa-times {
  color: rgb(126, 125, 122);
}

.card__button {
  display: block;
  width: 100%;
  background: #56bc94;
  border: 1px solid #56bc94;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 12px;
  margin: 30px 0px 15px 0px;
  box-sizing: border-box;
}

.ribbon {
  position: absolute;
  right: -7px;
  top: -7px;
  z-index: 1;
  overflow: hidden;
  width: 120px;
  height: 120px;
}
.ribbon span {
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  transform: rotate(45deg);
  width: 120px;
  display: block;
  background: #3fa07a;
  position: absolute;
  top: 20px;
  right: -30px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-bottom: 5px solid #3fa07a;
  border-left: 5px solid #3fa07a;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-right: 5px solid#3fa07a;
  border-bottom: 5px solid #3fa07a;
}

@media screen and (max-width: 950px) {
  .cards {
    flex-direction: column;
  }
}
/***********Contact us*******/
.contact {
  width: 100%;
  color: #fff;
  background-color: #56bc94;
  background-image: url(bg.png);
  align-items: center;
  text-align: center;
  display: block;
  font-style: normal;
  box-sizing: border-box;
}
.contact__title {
  text-align: center;
  padding-top:20px;
  font-size: 32px;
}
.contact__info {
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
  flex-direction: column;
  padding: 0 10px;
}

.contact__info_p {
  width: 600px;
  display: inline-block;
  color: white;
  margin: 10px;
}

.contact__info-i {
  margin: 10px;
  color: #317b5e;
}

.fa-phone-square,
.fa-envelope {
  color: #317b5e;
  font-size: 1rem;
  font-family: "FontAwesome";
  font-style: inherit;
  padding: 5px;
}
.fa-phone-square {
  content: "\f098";
}
.fa-envelope {
  content: "\f0e0";
}

.contact__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.form__name,
.form__email,
.form__message {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.form__input,
.form__text-area {
  font-size: 16px;
  margin: 10px 0px;
  height: auto;
  padding: 15px 15px;
  display: block;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 540px;
}

.form__button {
  background-color: #317b5e;
  margin: 15px 0px 15px 0px;
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  border: 1px solid #317b5e;
}

@media screen and (max-width: 500px) {
  .contact__info_p,
  .contact__info-i,
  .form__input,
  .form__text-area {
    width: 19rem;
  }

  .contact {
    padding: 0em;
  }
}
